*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.options-cont{
    height: 4rem;
    width: 4rem;
    background-color: #dfe4ea;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: 0 8px 8px -4px lightblue;

}

.tools-cont{
    display: flex;
    height: 5rem;
    width: 55vw;
    background-color: #dfe4ea;
    justify-content: space-around;
    position: absolute;
    top: 2rem;
    left: 25vw;
    box-shadow: 0 8px 8px -4px lightblue;
}
.tools-cont > *{
    display: block;
    width: 4rem;
}

.pencil-tool-cont{
    height: 5rem;
    width:  8rem;
    background-color: lightgreen;
    position: absolute;
    top: 7rem;
    left: 25vw;
    border-radius: 3px;
}
.pencil-width-cont{
    background-color: orange;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-width-cont input {
    width: 80%;

}
.pencil-color-cont{
    background-color: yellow;
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pencil-color{
    width: 1.5rem;
    height: 2rem;
    border-radius: 50%;
}
.black{
    background-color: black;
}
.blue{
    background-color: rgb(0, 0, 255);
}
.red{
    background-color: red;
}